{% extends "base_email.html" %}
{% block content %}

<p style="margin: 0; color: #7B7B7B;">
	Hello {{name}}. A request has been received to change the password
	on your account. Click the button below to confirm the request.
</p>

<br />
<a href="{{link}}" style="
		display: block;
		margin: auto;
		text-decoration: none;
		padding: .2rem .7rem;
		border-radius: 5px;
		font-weight: 500;
		width: 9rem;
		font-size: 1.0rem;
		line-height: 3rem;
		background-color:#FFC700;
		color: #FFFFFF;">
	Reset Password
</a>

<p style="margin: 30px 0 0 0; color: #7B7B7B; color: #7B7B7B;">
	If you did not initiate this request, please contact us immediately
	at support@quickdrivingtest.co.uk
</p>

{% endblock %}