@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

:root {
  /* COLOR */
  --light: #E4F1F3;
  --dark-color-1: #1F2A3F;
  --primary-color: #FFC700;
  --secondary-color: #A89D6C;
  
  --light-bg-1: #E4F1F3;
  --light-bg-2: #fbfbfb;
  --light-bg-3: #fff;
  
  --light-text: #fff;
  --gray-text-1: #c7c7c7;
  --gray-text-2: #7b7b7b;
  --gray-text-3: #c1c1c1;
  --dark-text-1: #333D50;
  --dark-text-2: #1f2a3f;

  /* TEXT */
  --very-sm-1: 12px;
  --very-sm-2: 14px;
  --very-sm-3: 16px;

  --sm-1: 18px;
  --sm-2: 20px;
  --sm-3: 22px;
  
  --md-1: 24px;
  --md-2: 26px;
  --md-3: 28px;
  
  --lg-1: 30px;
  --lg-1b: 32px;
  --lg-2: 36px;
  --lg-3: 40px;

  --xl-1: 45px;
  --xl-2: 60px;
  --xl-3: 65px;


  /* OTHER */
  --max-inner-width: 1250px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: var(--sm-3);
}

a {
  text-decoration: none;
  color: inherit;
}



/* COMMON CLASSES */
.inner-container {
  max-width: var(--max-inner-width);
  margin: auto;
}

.main-button {
  color: var(--light-text);
  background-color: var(--primary-color);
  border: none;
  padding: .4rem 5rem;
  font-size: var(--lg-2);
  font-family: 'Catamaran', sans-serif;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  line-height: 60px;
}

.main-button:hover {
  cursor: pointer;
}

.buy-button {
  font-family: 'Fresca', sans-serif;
  font-size: var(--md-3);
  color: var(--primary-color);
  background-color: var(--light-bg-3);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: .67rem 2.45em;
}

.recommended .buy-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--light-text);
  background-color: var(--primary-color);
  border: none;
}

.buy-button:hover {
  cursor: pointer;
}

.blue-button-1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  background-color: var(--dark-color-1);
  color: var(--light-text);
  border: none;
  border-radius: 11px;
  padding: .34rem 2.2rem;
  font-size: var(--md-3);
}

.blue-button-1:hover {
  cursor: pointer;
}

.blue-button-2 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  background-color: var(--dark-color-1);
  color: var(--primary-color);
  border: none;
  border-radius: 7px;
  /* padding: .44rem 1.4rem; */
  padding: .44rem 0;
  font-size: var(--sm-1);
  width: 110px;
}

.blue-button-2:hover {
  cursor: pointer;
}

.auth-box {
  text-align: center;
  margin: auto;
  margin-top: 185px;
  width: 445px;
  height: 476px;
  background-color: var(--light-bg-3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-box {
  padding-top: 3.3rem;
  position: relative;
}

.auth-box h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: var(--lg-1);
  color: var(--dark-text-2)
}

.auth-box input[type="email"],
.auth-box input[type="password"] {
  width: 340px;
  height: 47px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 1rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--very-sm-3);
  line-height: 26px;
  background-color: var(--light-bg-3);
}

.auth-box input[type="email"]::placeholder,
.auth-box input[type="password"]::placeholder {
  color: var(--gray-text-1);
  font-weight: 600;
}

.auth-box .auth-footer {
  font-size: var(--very-sm-2);
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  line-height: 23px;
  color: var(--gray-text-3);

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.auth-box span a{
  color: var(--primary-color)
}

/* END COMMON CLASSES */
/*--------------------*/



/* NAVBAR */

#navbar {
  background-color: var(--dark-color-1);
  position: fixed;
  width: 100%;
  z-index: 999;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

#navbar .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--light-text);
  
  height: 42px;
  padding: 1.95rem 0;
}

#navbar-buttons li {
  padding-left: 2em;
  display: inline;

  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

/* END NAVBAR */
/*--------------------*/



/* CTA */
#CTA {
  padding-top: 63px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  text-align: center;
}

#CTA-inner {
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
}

#CTA-text h1 {
  color: var(--dark-color-1);
  font-size: var(--xl-1);
}

#CTA-text h2 {
  margin-top: 2.0rem;
  color: var(--dark-text-1);
  font-size: var(--md-2);
  font-weight: 400;
  line-height: 35px;
}

#cards {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.cta-card {
  background-color: white;
  padding: 1.2rem 3rem;
  height: 370px;
  width: 410px;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  }

.cta-card .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 140px;
}
.cta-card .img-wrapper img {
  object-fit: contain;
}

.cta-card h1 {
  color: var(--dark-color-1);
  font-size: var(--xl-3);
  font-weight: 500;
}

.cta-card h2 {
  color: var(--dark-text-1);
  font-size: var(--md-1);
  font-weight: 400;
}

#cta-button {
  margin-top: 100px;
  margin-bottom: 35px;
}

/* END CTA */
/*--------------------*/



/* TUTORIAL */
#tutorial {
  background-color: var(--dark-color-1);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#title-wrapper h1 {
  position: relative;
  font-size: var(--lg-3);
  font-weight: 400;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 5rem;
}

#title-wrapper h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 150px;
  background-color: var(--primary-color);
}

.tutorial-step {
  display: flex;
  justify-content: space-around;
  text-align: center;
  align-items: flex-start;
  margin-top: -2.0rem;
}

.tutorial-step:nth-child(odd) {
  flex-direction: row-reverse;
}

.tutorial-text {
  padding-top: 2.3rem;
  width: 500px;
  text-align: left;
  /* border-bottom: 12px dotted var(--secondary-color); */
}

.tutorial-text .dotted-line {
  margin-top: 1rem;
  margin-left: -5px; 
  width: 480px;
  height: 20px;
  border-bottom: 12px dotted var(--secondary-color);
}

.tutorial-text h1 {
  font-size: var(--lg-3);
  font-weight: 400;
  color: var(--primary-color);  
}

.tutorial-text p {
  font-size: var(--md-1);
  color: var(--light-text);  
  font-weight: 300;
  
}

.tutorial-delimiter h1{
  color: var(--light-text);
  font-size: var(--xl-2);
  font-family: 'Passion One', cursive;
  font-weight: 400;
  line-height: 40px;
}

.tutorial-delimiter h2{
  color: var(--light-text);
  font-size: var(--lg-1);
  font-weight: 400;
  font-family: 'Fresca', sans-serif;
  line-height: 40px;
}

.tutorial-delimiter .dotted-line {
  margin: 1.0rem auto;
  width: 12px;
  height: 260px;
  border-left: 12px dotted var(--secondary-color);
}

.tutorial-image {
  width: 500px;
  padding-top: 3.5rem;
}

.tutorial-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

#tutorial-button {
  display: block;
  margin: 3rem auto 0 auto;
}

/* END TUTORIAL */
/*--------------------*/




/* PRICING SECTION */
#pricing {
  background-color: var(--light-bg-3);
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 9rem;
}

#pricing h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--lg-3);
  color: var(--dark-text-2);
}

#pricing h2 {
  margin-top: 1.5rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-2);
  color: var(--dark-text-1);
}

#price-cards {
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pricing .price-card {
  padding-top: 2.0rem;
  padding-bottom: 2.0rem;
  padding-left: 6.6rem;
  padding-right: 6.6rem;
  border: 1px solid #d6d6d6;
  border-radius: 17px;
  background-color: #fff;
  max-height: 620px
}

#pricing .price-card.recommended {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  max-height: 650px;
  border-radius: 20px;
  position: relative;
}

#pricing .price-card.recommended::after {
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  content:"RECOMMENDED";
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
}

#pricing .price-card:nth-child(2) {
  margin-left: -3px;
  border: 3px solid var(--primary-color);
  box-shadow: -3px 4px 7px 5px rgba(0, 0, 0, 0.25);
}

#pricing .price-card h2 {
  margin: 0;
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  font-size: var(--md-3);
  color: var(--dark-text-2);
}

#pricing .price-card h1 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: var(--xl-3);
}

#pricing .price-card li {
  margin-top: .9rem;
  list-style-type: none;
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  font-size: var(--md-1);
  color: var(--dark-text-1);

}

.price-card button {
  margin-top: 2.2rem;
}

/* END PRICING SECTION */
/*--------------------*/



/* FAQ SECTION */
#faq {
  z-index: 1;
  padding: 6rem;
  padding-bottom: 10rem;
  position: relative;
  background-color: var(--dark-color-1);
  /* height: 600px; */
}

#faq::after{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-image: url('assets/faq-bg.png');
  opacity: .07;
}

#faq .inner-container{
  position: relative;
  z-index: 3;
}

#faq-title {
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: var(--lg-3);
}

#questions {
  z-index: 3;
  margin: auto;
}

.question-dropdown {
  cursor: pointer;
  width: 930px;
  background-color: var(--light-bg-3);
  margin: auto;
  margin-bottom: 1.1rem;
  border-radius: 10px;
  padding: .6rem 1.5rem;
  overflow: hidden;
  transition: all .2s;
}

.question-dropdown .question-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.question-dropdown .question-row .arrow{
  margin-right: 2rem;
}

.question-dropdown h2 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-1) ;
  color: var(--dark-text-2)
}

.question-dropdown.open h2{
  color: var(--primary-color);
}

.question-dropdown p {
  display: none;
  margin: .7rem .5rem .7rem 3.4rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--sm-1);
}

.question-dropdown.open p {
  display: block;
}

/* END FAQ SECTION */
/*--------------------*/



/* CONTACT US SECTION */
#contact-us {
  background-color: var(--light-bg-3);
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 9rem;
  min-height: 100vh;
}

#contact-us h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--lg-3);
  color: var(--dark-text-1);
}

#contact-us h2 {
  margin-top: 2.9rem;
  margin-bottom: 3.4rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-2);
  color: var(--dark-text-1);
}

#contact-form .inner-container{
  background-color: var(--dark-color-1);
  border-radius: 15px;
  padding: 1.45rem;
  width: fit-content;
  margin: auto;
}

#contact-form .inner-container div:nth-child(1){
  margin-bottom: 1.3rem;
}

#contact-form input{
  border: none;
  padding: .6rem 1rem;
  border-radius: 15px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-1);
  color: var(--dark-text-1);
  width: 435px;
}

#contact-form input:nth-child(1){
  margin-right: 1rem;
}

#contact-form textarea{
  border: none;
  padding: .6rem 1rem;
  border-radius: 15px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-1);
  color: var(--dark-text-1);
  min-width: 100%;
  min-height: 220px;
}

#contact-form button {
  margin-top: 2.5rem;
}


/* END CONTACT US SECTION */
/*--------------------*/



/* FOOTER */
footer {
  background-color: var(--dark-color-1);
}

footer .inner-container {
  display: flex;
  padding: 3rem 3rem 1.8rem 3rem;
}

footer .footer-logo-block p {
  font-size: var(--sm-1);
  color: var(--light-text);
  width: 390px;
  margin-top: 2rem;
  margin-right: 6em;
  text-align: justify;
}

footer .footer-column {
  width: 450px;
}

footer .footer-column h1 {
  margin-bottom: .4rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--lg-1b);
  color: var(--primary-color);
}

footer .footer-column li {
  list-style-type: none;
  font-size: var(--sm-2);
  color: var(--light-text);
}

/* END FOOTER */
/*--------------------*/



/* LOGIN PAGE */
#login-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

#login-box h1 {
  margin-bottom: 2.3rem;
}

#login-box input[type="email"] {
  margin-bottom: 1rem;
}

#login-box input[type="checkbox"] {
  margin-right: .3rem;
}

#login-box label {
  font-size: var(--very-sm-1);
}

#login-box .form-row-2 {
  margin: auto;
  margin-top: .5rem;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#login-box .form-row-2 div:nth-child(1) {
  display: flex;
  /* align-items: center; */
}

#login-box .form-row-2 a {
  text-decoration: underline;
  color: var(--primary-color);
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: var(--very-sm-1);
}

#login-button {
  margin-top: 2.3rem;
}

/* END LOGIN PAGE */
/*--------------------*/



/* CHOOSE NEW PASSWORD PAGE */
#choose-new-password-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

#choose-new-password-box input[type="password"]:nth-child(1) {
  margin-bottom: 1rem;
}

#choose-new-password-box h1 {
  margin-bottom: 2.3rem;
}

#password-reset-button {
  margin-top: 4.0rem;
}
/* END CHOOSE NEW PASSWORD PAGE */
/*--------------------*/




/* PASSWORD RESET PAGE */
#password-reset-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

#password-reset-box input[type="password"]:nth-child(1) {
  margin-bottom: 1rem;
}

#password-reset-box h1 {
  margin-bottom: 0.85rem;
}

#password-reset-box form p {
  width: 260px;
  font-size: var(--very-sm-2);
  margin: auto;
  margin-bottom: 3.3rem;
}

#send-email-button {
  margin-top: 4.0rem;
}
/* END PASSWORD RESET PAGE */
/*--------------------*/



/* PASSWORD RESET SUCCESS PAGE */
#password-reset-success-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

#password-reset-success-box input[type="password"]:nth-child(1) {
  margin-bottom: 1rem;
}

#password-reset-success-box h1 {
  margin-top: 5.5rem;
  margin-bottom: 1.85rem;
}

#password-reset-success-box form p {
  width: 260px;
  font-size: var(--very-sm-2);
  margin: auto;
  margin-bottom: 3.3rem;
}

#send-email-button {
  margin-top: 4.0rem;
}
/* END PASSWORD RESET SUCCESS PAGE */
/*--------------------*/



/* SIGN UP PAGE */
#signup-page {
  background-size: 100% 80%;
  padding-top: 63px;
  padding-bottom: 3rem;
}


#signup-form h1 {
  margin-top: 2.2rem;
  color: var(--dark-color-1);
  font-size: var(--xl-1);
}

#signup-form p {
  padding-top: 1.2rem;
  color: var(--dark-color-1);
  font-size: var(--sm-3);
  font-weight: 400;
}

#signup-form .form-inputs {
  margin-top: 1.2rem;
  padding: 2.0rem 0;
  height: 550px;
  /* position: relative; */
}

#signup-form .form-inputs::before {
  content: "";
  background-color: var(--light-bg-2);
  /* background-color: #7b7b7b; */
  z-index: -1;
  position: absolute;
  top: 290px;
  left: 0;
  width: 99vw;
  height: 550px;
  overflow: hidden;
}

#signup-page label {
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: var(--very-sm-3);
  color: var(--gray-text-2);
}

#signup-page .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#signup-page .form-row-5{
  margin-bottom: 0rem;
}

#signup-form input,
#signup-form select {
  width: 600px;
  height: 46px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  font-size: var(--very-sm-3);
  font-family: 'Catamaran', sans-serif;
}

#signup-form select {
  padding: 0.5rem .7rem;
}

#signup-page .form-buttons{
  display: flex;
  justify-content: center;
}

#signup-page button{
  margin-left: 1rem;
  margin-top: 1rem;
  display: block;
}
/* END SIGN UP PAGE */
/*--------------------*/

#signup-form .input-error{
  font-size: var(--very-sm-2);
  margin: 0;
  color: red;
  margin-top: -.8rem;
  margin-bottom: 0rem;
}

#signup-form input,
#signup-form select{
  /* margin-top: 1rem; */
  margin-bottom: 1rem;
}
