:root {
  --dark: #1F2A3F;
  --light: #E4F1F3;
  --primary-color: #E8B500;
  --secondary-color: #A89D6C;

  --light-bg-2: #fbfbfb;

  --light-text: #fff;
  --light-gray-text: #c7c7c7;
  --dark-gray-text: #7b7b7b;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
}
