@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@100;200;300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fresca&display=swap');

:root {
  /* COLOR */
  --light: #E4F1F3;
  --dark-color-1: #1F2A3F;
  --primary-color: #FFC700;
  --primary-color-hover: #f9d243;
  --secondary-color: #A89D6C;
  
  --light-bg-1: #E4F1F3;
  --light-bg-2: #fbfbfb;
  --light-bg-3: #fff;
  
  --light-text: #fff;
  --gray-text-1: #c7c7c7;
  --gray-text-2: #7b7b7b;
  --gray-text-3: #c1c1c1;
  --gray-text-4: #b3b3b3;
  --dark-text-1: #333D50;
  --dark-text-2: #1f2a3f;

  /* TEXT */
  --very-sm-1: 12px;
  --very-sm-2: 14px;
  --very-sm-3: 16px;

  --sm-1: 18px;
  --sm-2: 20px;
  --sm-3: 22px;
  
  --md-1: 24px;
  --md-2: 26px;
  --md-3: 28px;
  
  --lg-1: 30px;
  --lg-1b: 32px;
  --lg-2: 36px;
  --lg-3: 40px;

  --xl-1: 45px;
  --xl-2: 60px;
  --xl-3: 65px;


  /* OTHER */
  --max-inner-width: 1250px;

}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: var(--sm-3);
}

a {
  text-decoration: none;
  color: inherit;
}



/* COMMON CLASSES */
.inner-container {
  max-width: var(--max-inner-width);
  margin: auto;
}

.main-button {
  color: var(--light-text);
  background-color: var(--primary-color);
  border: none;
  padding: .4rem 5rem;
  font-size: var(--lg-2);
  font-family: 'Catamaran', sans-serif;
  box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  line-height: 60px;
  transition: ease-in 100ms;
}

.main-button:hover {
  cursor: pointer;
  background-color: var(--primary-color-hover);
}

.buy-button {
  display: block;
  font-family: 'Fresca', sans-serif;
  font-size: var(--md-3);
  color: var(--primary-color);
  background-color: var(--light-bg-3);
  border: 1px solid var(--primary-color);
  border-radius: 30px;
  padding: .67rem 2.45em;
}

.buy-button:hover {
  cursor: pointer;
}

.recommended .buy-button {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--light-text);
  background-color: var(--primary-color);
  border: none;
}

.blue-button-1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  background-color: var(--dark-color-1);
  color: var(--primary-color);
  border: none;
  border-radius: 11px;
  padding: .34rem 2.2rem;
  font-size: var(--md-3);
}

.blue-button-1:hover {
  cursor: pointer;
}

.blue-button-2 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  background-color: var(--dark-color-1);
  color: var(--primary-color);
  border: none;
  border-radius: 7px;
  padding: .44rem 0;
  font-size: var(--sm-1);
  width: 110px;
}

.blue-button-2:hover {
  cursor: pointer;
}

.blue-button-2:disabled {
  background-color: #888;
  color: var(--light-text);
}

.sub-input-button {
  font-family: 'Catamaran', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: var(--very-sm-1);
  line-height: 20px;
  text-decoration-line: underline;
  color: var(--gray-text-2);
  background-color: transparent;
  border: none;
}

.sub-input-button:hover {
  cursor: pointer;
}

.round-button {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  background-color: var(--dark-color-1);
  color: var(--primary-color);
  border: none;
  border-radius: 50%;
  width: 43px;
  height: 43px;
  padding: 0 0 .5rem 0;
  font-size: var(--md-3);
}

.round-button:hover {
  cursor: pointer;
}

.add-button::after {
  position: absolute;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  content: "+";
  font-size: var(--lg-1);
  top: -3px;
  left: 14px;

}

.remove-button::after {
  position: absolute;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  content: "-";
  font-size: var(--lg-1);
  top: -3px;
  left: 17px;
}

.auth-box {
  text-align: center;
  margin: auto;
  margin-top: 185px;
  width: 445px;
  height: 476px;
  background-color: var(--light-bg-3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.auth-box {
  padding-top: 3.3rem;
  position: relative;
}

.auth-box h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: var(--lg-1);
  color: var(--dark-text-2)
}

.auth-box input[type="email"],
.auth-box input[type="password"] {
  width: 340px;
  height: 47px;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  border: none;
  padding: 1rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--very-sm-3);
  line-height: 26px;
  background-color: var(--light-bg-3);
}

.auth-box input[type="email"]::placeholder,
.auth-box input[type="password"]::placeholder {
  color: var(--gray-text-1);
  font-weight: 600;
}

.auth-box .auth-footer {
  font-size: var(--very-sm-2);
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  line-height: 23px;
  color: var(--gray-text-3);

  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
}

.auth-box span a{
  color: var(--primary-color)
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

/* END COMMON CLASSES */
/*--------------------*/



/* NAVBAR */

#navbar {
  background-color: var(--dark-color-1);
  position: fixed;
  width: 100%;
  z-index: 999;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.15);
}

#mobile-menu-icon-wrapper {
  display: none;
}

#mobile-navbar-buttons {
  display: none;
}

#mobile-menu-icon,
#mobile-navbar-menu {
  display: none;
}


#navbar .inner-container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: var(--light-text);
  
  height: 42px;
  padding: 1.95rem 0;
}

#navbar-buttons li {
  padding-left: 2em;
  display: inline;

  align-items: center;
  text-align: center;
}

.logo {
  display: flex;
  align-items: center;
}

/* END NAVBAR */
/*--------------------*/



/* PAGE NOT FOUND */
#page-not-found {
  padding-top: 153px;
  text-align: center;
  height: 840px;
}

#page-not-found img{
  margin: auto;
}

#page-not-found h1{
  font-family: 'Catamaran' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 100px;
  line-height: 164px;
}

#page-not-found h2{
  font-family: 'Catamaran' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--lg-2);
  line-height: 59px;
  color: var(--gray-text-2);
}

#page-not-found p {
  width: 607px;
  font-family: 'Catamaran' sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: var(--sm-2);
  color: var(--gray-text-2);
  margin: auto;
  margin-top: 2rem;
}
/* END PAGE NOT FOUND */
/*--------------------*/



/* CTA */
#CTA {
  padding-top: 63px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  text-align: center;
}

#CTA-inner {
  padding-top: 3.0rem;
  padding-bottom: 3.0rem;
}

#CTA-text h1 {
  color: var(--dark-color-1);
  font-size: var(--xl-1);
}

#CTA-text h2 {
  margin-top: 2.0rem;
  color: var(--dark-text-1);
  font-size: var(--md-2);
  font-weight: 400;
  line-height: 35px;
}

#cards {
  display: flex;
  justify-content: space-between;
  margin-top: 3.5rem;
}

.cta-card {
  background-color: white;
  padding: 1.2rem 3rem;
  height: 370px;
  width: 410px;
  border-radius: 14px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  }

.cta-card .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  height: 140px;
}
.cta-card .img-wrapper img {
  object-fit: contain;
}

.cta-card h1 {
  color: var(--dark-color-1);
  font-size: var(--xl-3);
  font-weight: 500;
}

.cta-card h2 {
  color: var(--dark-text-1);
  font-size: var(--md-1);
  font-weight: 400;
}

#cta-button {
  margin-top: 100px;
  margin-bottom: 35px;
}

/* END CTA */
/*--------------------*/



/* TUTORIAL */
#tutorial {
  background-color: var(--dark-color-1);
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#title-wrapper h1 {
  position: relative;
  font-size: var(--lg-3);
  font-weight: 400;
  text-align: center;
  color: var(--primary-color);
  margin-bottom: 5rem;
}

#title-wrapper h1::after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
  height: 2px;
  width: 150px;
  background-color: var(--primary-color);
}

.tutorial-step {
  display: flex;
  justify-content: space-around;
  text-align: center;
  /* align-items: flex-start; */
  align-items: center;
  margin-top: -2.0rem;
}

.tutorial-step:nth-child(odd) {
  flex-direction: row-reverse;
}

.tutorial-text {
  padding-top: 2.3rem;
  width: 500px;
  text-align: left;
}

.tutorial-text .dotted-line {
  margin-top: 1rem;
  margin-left: -5px; 
  width: 480px;
  height: 20px;
  border-bottom: 12px dotted var(--secondary-color);
}

.tutorial-text h1 {
  font-size: var(--lg-3);
  font-weight: 400;
  color: var(--primary-color);  
}

.tutorial-text p {
  font-size: var(--md-1);
  color: var(--light-text);  
  font-weight: 300;
  
}

.tutorial-delimiter.mobile {
  display: none;
}

.tutorial-delimiter h1{
  color: var(--light-text);
  font-size: var(--xl-2);
  font-family: 'Passion One', cursive;
  font-weight: 400;
  line-height: 40px;
}

.tutorial-delimiter h2{
  color: var(--light-text);
  font-size: var(--lg-1);
  font-weight: 400;
  font-family: 'Fresca', sans-serif;
  line-height: 40px;
}

.tutorial-delimiter .dotted-line {
  margin: 1.0rem auto;
  width: 12px;
  height: 260px;
  border-left: 12px dotted var(--secondary-color);
}

.tutorial-image {
  width: 500px;
  height: 400px;
  padding-top: 3.5rem;
}

.tutorial-image img {
  width: 360px;
  /* width: 100%; */
  height: 100%;
  object-fit: contain;
}

#tutorial-button {
  display: block;
  margin: 3rem auto 0 auto;
}

/* END TUTORIAL */
/*--------------------*/




/* PRICING SECTION */
#pricing {
  background-color: var(--light-bg-3);
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 9rem;
}

#pricing h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--lg-3);
  color: var(--dark-text-2);
}

#pricing h2 {
  margin-top: 1.5rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-2);
  color: var(--dark-text-1);
}

#price-cards {
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#pricing .price-card {
  padding: 2rem 4rem;
  border: 1px solid #d6d6d6;
  border-radius: 17px;
  background-color: #fff;
  max-height: 620px
}

#pricing .price-card.recommended {
  padding-top: 3.2rem;
  padding-bottom: 3.2rem;
  max-height: 650px;
  border-radius: 20px;
  position: relative;

  margin-left: -3px;
  border: 3px solid var(--primary-color);
  box-shadow: -3px 4px 7px 5px rgba(0, 0, 0, 0.25);
}

#pricing .price-card.recommended::after {
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  content:"RECOMMENDED";
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
}

#pricing .price-card.coming-soon {
  position: relative;
}

#pricing .price-card.coming-soon h1,
#pricing .price-card.coming-soon h2,
#pricing .price-card.coming-soon li,
#pricing .price-card.coming-soon .buy-button {
  color: var(--gray-text-4) !important;
}

#pricing .price-card.coming-soon .buy-button {
  border: 1px solid var(--gray-text-4) !important;
}

#pricing .price-card.coming-soon::after {
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  color: var(--gray-text-4) !important;
  content:"COMING SOON";
  position: absolute;
  top: -38px;
  left: 50%;
  transform: translateX(-50%);
}

#pricing .price-card h2 {
  margin: 0;
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  font-size: var(--md-3);
  color: var(--dark-text-2);
}

#pricing .price-card h1 {
  margin-top: 1.8rem;
  margin-bottom: 1.8rem;
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: var(--xl-3);
}

#pricing .price-card li {
  margin-top: .9rem;
  list-style-type: none;
  font-family: 'Fresca', sans-serif;
  font-weight: 400;
  font-size: var(--md-1);
  color: var(--dark-text-1);

}

.price-card .buy-button {
  margin-top: 3.0rem;
}

/* END PRICING SECTION */
/*--------------------*/



/* FAQ SECTION */
#faq {
  z-index: 1;
  padding: 6rem;
  padding-bottom: 10rem;
  position: relative;
  background-color: var(--dark-color-1);
  /* height: 600px; */
}

#faq::after{
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  mix-blend-mode: multiply;
  background-image: url('assets/faq-bg.png');
  opacity: .07;
}

#faq .inner-container{
  position: relative;
  z-index: 3;
}

#faq-title {
  margin-bottom: 2rem;
  text-align: center;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: var(--lg-3);
}

#questions {
  z-index: 3;
  margin: auto;
}

.question-dropdown {
  cursor: pointer;
  width: 930px;
  background-color: var(--light-bg-3);
  margin: auto;
  margin-bottom: 1.1rem;
  border-radius: 10px;
  padding: .6rem 1.5rem;
  overflow: hidden;
  transition: all .2s;
}

.question-dropdown .question-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.question-dropdown .question-row .arrow{
  margin-right: 2rem;
}

.question-dropdown h2 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-1) ;
  color: var(--dark-text-2);
  transition: 100ms;
}

.question-dropdown.open h2{
  color: var(--primary-color);
}

.question-dropdown p {
  display: none;
  margin: .7rem .5rem .7rem 3.4rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--sm-1);
}

.question-dropdown.open p {
  display: block;
}

/* END FAQ SECTION */
/*--------------------*/



/* CONTACT US SECTION */
#contact-us {
  background-color: var(--light-bg-3);
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 9rem;
  min-height: 100vh;
}

#contact-us h1 {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--lg-3);
  color: var(--dark-text-1);
}

#contact-us h2 {
  margin-top: 2.9rem;
  margin-bottom: 3.4rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-2);
  color: var(--dark-text-1);
}

#contact-us-success {
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-2);
  color: var(--primary-color);
}

#contact-form .inner-container{
  background-color: var(--dark-color-1);
  border-radius: 15px;
  padding: 1.45rem;
  width: fit-content;
  margin: auto;
}

#contact-form .inner-container div:nth-child(1){
  margin-bottom: 1.3rem;
}

#contact-form input{
  border: none;
  padding: .6rem 1rem;
  border-radius: 15px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-1);
  color: var(--dark-text-1);
  width: 435px;
}

#contact-form input:nth-child(1){
  margin-right: 1rem;
}

#contact-form textarea{
  border: none;
  padding: .6rem 1rem;
  border-radius: 15px;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--md-1);
  color: var(--dark-text-1);
  min-width: 100%;
  min-height: 220px;
}

#contact-form button {
  margin-top: 2.5rem;
}


/* END CONTACT US SECTION */
/*--------------------*/



/* FOOTER */
footer {
  background-color: var(--dark-color-1);
}

footer .inner-container {
  display: flex;
  padding: 3rem 3rem 1.8rem 3rem;
}

footer .footer-logo-block p {
  font-size: var(--sm-1);
  color: var(--light-text);
  width: 390px;
  margin-top: 2rem;
  margin-right: 6em;
  text-align: justify;
}

footer .footer-column {
  width: 450px;
}

footer .footer-column h1 {
  margin-bottom: .4rem;
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--lg-1b);
  color: var(--primary-color);
}

footer .footer-column li {
  list-style-type: none;
  font-size: var(--sm-2);
  color: var(--light-text);
}

/* END FOOTER */
/*--------------------*/



/* LOGIN PAGE */
#login-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

#login-box h1 {
  margin-bottom: 2.3rem;
}

#login-page #login-error {
  /* display: none; */
  color: red;
  font-size: var(--very-sm-2);
  font-family: 'Catamaran', sans-serif;
  margin-top: -20px;
  margin-bottom: 10px;
}

#login-box input[type="email"] {
  margin-bottom: 1rem;
}

#login-box input[type="checkbox"] {
  margin-right: .3rem;
}

#login-box label {
  font-size: var(--very-sm-1);
}

#login-box .form-row-2 {
  margin: auto;
  margin-top: .5rem;
  width: 340px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#login-box .form-row-2 div:nth-child(1) {
  display: flex;
  /* align-items: center; */
}

#login-box .form-row-2 a {
  text-decoration: underline;
  color: var(--primary-color);
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: var(--very-sm-1);
}

#login-button {
  margin-top: 2.3rem;
}

/* END LOGIN PAGE */
/*--------------------*/



/* CHOOSE NEW PASSWORD PAGE */
#choose-new-password-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

/* #choose-new-password-box input[type="password"]:nth-child(1) { */
#choose-new-password-box input {
  margin-bottom: 1rem;
}

#choose-new-password-box h1 {
  margin-bottom: 2.3rem;
}

#password-reset-button {
  margin-top: 3.0rem;
}

#choose-new-password-page .input-error{
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: var(--very-sm-2);
  position: absolute;
  top: 260px;
  left: 3.3rem;
  /* transform: translate(-50%); */
  color: red;
}

#choose-new-password-page .form-error{
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: var(--very-sm-2);
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translate(-50%);
  color: red;
}
/* END CHOOSE NEW PASSWORD PAGE */
/*--------------------*/




/* PASSWORD RESET PAGE */
#password-reset-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

#password-reset-box input[type="password"]:nth-child(1) {
  margin-bottom: 1rem;
}

#password-reset-box h1 {
  margin-bottom: 0.85rem;
}

#password-reset-box form p {
  width: 260px;
  font-size: var(--very-sm-2);
  margin: auto;
  margin-bottom: 3.3rem;
}

#send-email-button {
  margin-top: 4.0rem;
}
/* END PASSWORD RESET PAGE */
/*--------------------*/



/* PASSWORD RESET SUCCESS PAGE */
#password-reset-success-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

#password-reset-success-box input[type="password"]:nth-child(1) {
  margin-bottom: 1rem;
}

#password-reset-success-box h1 {
  margin-top: 5.5rem;
  margin-bottom: 1.85rem;
}

#password-reset-success-box form p {
  width: 260px;
  font-size: var(--very-sm-2);
  margin: auto;
  margin-bottom: 3.3rem;
}

#password-reset-success-box .blue-button-2 {
  margin-top: 4.0rem;
  padding: .44rem 1.4rem;
}
/* END PASSWORD RESET SUCCESS PAGE */
/*--------------------*/


/* PASSWORD RESET EMAIL SENT PAGE */
#password-reset-email-sent-page {
  height: 940px;
  background: url("assets/cta-bg.png") no-repeat;
  background-size: 100% 80%;
  padding-top: 63px;
}

#password-reset-email-sent-box h1 {
  margin-top: 4.7rem;
  margin-bottom: 1.85rem;
}

#password-reset-email-sent-box p {
  width: 260px;
  font-size: var(--very-sm-3);
  margin: auto;
  margin-bottom: 3.3rem;
}

#password-reset-email-sent-box .blue-button-2 {
  /* margin: auto;
  margin-top: 4.0rem; */
  padding: .44rem 1.4rem;
  /* display: block; */
}
/* END PASSWORD RESET EMAIL SENT PAGE */
/*--------------------*/



/* PAYMENT SUCCESS PAGE */
#payment-success-page {
  padding-top: 63px;
  text-align: center;
  height: 940px;
}

#payment-success-page .inner-container {
  margin-top: 280px;
}

#payment-success-page h1 {
  font-family: 'Catamaran' sans-serif;
  font-weight: 600;
  font-size: var(--lg-2);
  line-height: 59px;
  margin-top: 1rem;
}
/* END PAYMENT SUCCESS PAGE */
/*--------------------*/



/* SIGN UP PAGE */
#signup-page {
  background-size: 100% 80%;
  padding-top: 63px;
  padding-bottom: 3rem;
}


#signup-form h1 {
  margin-top: 2.2rem;
  color: var(--dark-color-1);
  font-size: var(--xl-1);
}

#signup-form p {
  padding-top: 1.2rem;
  color: var(--dark-color-1);
  font-size: var(--sm-3);
  font-weight: 400;
}

#signup-form .form-inputs {
  margin-top: 1.2rem;
  padding: 2.0rem 0;
  /* height: 550px; */
  /* position: relative; */
}

#signup-form .form-inputs::before {
  content: "";
  background-color: var(--light-bg-2);
  /* background-color: #7b7b7b; */
  z-index: -1;
  position: absolute;
  top: 290px;
  left: 0;
  width: 99vw;
  height: 550px;
  overflow: hidden;
}

#signup-page label {
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: var(--very-sm-3);
  color: var(--gray-text-2);
}

#signup-page .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#signup-page .form-row:last-child{
  margin-bottom: 0rem;
}

#signup-page .test-center-group > div:not(:first-child){
  margin-top: 2rem;
}

#signup-page .test-center-item {
  position: relative;
}

#signup-page .test-center-item .add-button {
  position: absolute;
  right: -105px;
}

#signup-page .test-center-item .remove-button {
  position: absolute;
  right: -55px;
}

#signup-page .select-hidden {
  display: none;
}

#signup-form input,
#signup-form select {
  width: 600px;
  height: 46px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  font-size: var(--very-sm-3);
  font-family: 'Catamaran', sans-serif;
}

#signup-form .form-item {
  position: relative;
}

#signup-form .input-error{
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: var(--very-sm-2);
  position: absolute;
  bottom: -28px;
  color: red;
}

#signup-form select {
  padding: 0.5rem .7rem;
}

#signup-page .form-buttons{
  display: flex;
  justify-content: center;
}

#signup-page .blue-button-2 {
  margin-left: 1rem;
  margin-top: 1rem;
  display: block;
}

/* END SIGN UP PAGE */
/*--------------------*/



/* PROFILE PAGE */
#profile-page {
  padding-top: 62px;
  /* padding-bottom: 3rem; */
}

#profile-page .inner-container {
  display: flex;
}

#profile-page h1 {
  color: var(--dark-text-2);
  font-family: 'Catamaran', sans-serif;
  font-weight: 500;
  line-height: 49px;
  font-size: var(--lg-1);
  margin-top: 2rem;
  border-bottom: 5px solid #f0f0f0;
  
  display: flex;
  align-items: center;

}

#profile-page .form-inputs {
  margin-top: 1.2rem;
  padding: 2.0rem 0;
  /* height: 550px; */
  /* position: relative; */
}


#profile-page label {
  display: block;
  font-family: 'Catamaran', sans-serif;
  font-weight: 600;
  font-size: var(--very-sm-3);
  color: var(--gray-text-2);
}

#profile-page .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

#profile-page input,
#profile-page select {
  width: 430px;
  height: 46px;
  border: none;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  padding: 1rem;
  font-size: var(--very-sm-3);
  font-family: 'Catamaran', sans-serif;
  margin-right: 3rem;
}

#profile-page input:disabled,
#profile-page select:disabled {
  background-color: #eee;
}

#profile-page .form-item {
  position: relative;
}

#profile-page .test-center-group > div:not(:last-child) {
  margin-bottom: 1.5rem;
}

#profile-page .test-center-item {
  position: relative;
}

#profile-page .test-center-item .add-button {
  position: absolute;
  right: -70px;
}

#profile-page .test-center-item .remove-button {
  position: absolute;
  right: -15px;
}

#profile-page .input-error{
  font-family: 'Catamaran', sans-serif;
  font-weight: 300;
  font-size: var(--very-sm-2);
  position: absolute;
  bottom: -28px;
  color: red;
}

#profile-page .test-center-group .input-error{
  bottom: -24px;
}

#profile-page select {
  padding: 0.5rem .7rem;
}

#profile-page .select-hidden {
  display: none;
}

#profile-page #current-menu {
  margin-left: 2rem;
  width: 100%;
}
#profile-page .form-buttons {
  margin-top: 3rem;
}

#profile-page .form-buttons button {
  margin-right: 1rem;
}

#success-back-button {
  margin-top: 3.5rem;
}

#profile-page #account-plan h2{
  color: var(--gray-text-2);
  font-size: var(--sm-2);
  margin-top: 2rem;
}

#profile-page #account-plan h3{
  color: var(--gray-text-2);
  font-size: var(--md-1);
  font-weight: 500;
  margin-top: .6rem;
}

#profile-page #account-plan .blue-button-2{
  margin-top: 2rem;
}

#profile-page #support-menu {
  margin-top: 1.8rem;
}

#profile-page #support-menu p{
  color: var(--gray-text-2);
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--sm-2);
  /* padding-right: 2rem; */
}

#profile-page #support-menu textarea{
  background: var(--light-bg-3);
  border: none;
  margin-top: 1rem;
  padding: .5rem 1rem;
  width: 100%;
  /* height: ; */
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
  resize: none;
  font-size: var(--sm-2);
  color: var(--dark-text-2);
  font-family: 'Catamaran', sans-serif;
}

#profile-page #support-menu textarea::placeholder{
  color: var(--gray-text-2);
}

#profile-page #support-menu .blue-button-2{
  margin-top: 1rem;
}

/* SIDEBAR */
#sidebar {
  background-color: var(--dark-color-1);
  height: 950px;
  flex-basis: 270px;
  flex-shrink: 0;
}

#sidebar .inner-container {
  display: flex;
  flex-direction: column;
  margin-top: 2.5rem;
}

#sidebar .sidebar-button .img-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  text-align: center;
  margin-left: 2rem;
  margin-right: 1.3rem;
  width: 30px;
}

#sidebar .sidebar-button {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border: none;
  background-color: transparent;
  color: var(--light-text);
  font-family: 'Catamaran', sans-serif;
  font-weight: 400;
  font-size: var(--sm-3);
  /* margin: auto; */
  width: 100%;
  margin: .9rem 0;
  cursor: pointer;
}

#sidebar .sidebar-button.highlighted {
  color: var(--primary-color)
}

#sidebar .sidebar-button.highlighted img{
filter: invert(31%) sepia(59%) saturate(738%) hue-rotate(0deg) brightness(105%) contrast(101%);
}

/* END PROFILE PAGE */
/*--------------------*/


/* RESPONSIVE DESIGN */

@media (max-width: 800px) {
  :root {
    /* TEXT */
    --very-sm-1: 10px; /**/
    --very-sm-1b: 12px; /**/
    --very-sm-2: 14px; /**/
    --very-sm-3: 16px;
  
    --sm-1: 12px; /**/
    --sm-2: 20px; /**/
    --sm-3: 22px;
    
    --md-1: 20px; /**/
    --md-2: 20px; /**/
    --md-2b: 24px; /**/
    --md-3: 28px; /**/
    
    --lg-1: 25px; /**/
    --lg-1b: 32px; /**/
    --lg-2: 28px; /**/
    --lg-3: 30px; /**/
  
    --xl-1: 30px; /**/
    --xl-2: 50px; /**/
    --xl-3: 55px; /**/
  
    /* OTHER */
    --max-inner-width: 700px;
  }

  
  /* COMMON CLASSES */
  .inner-container {
    max-width: var(--max-inner-width);
    margin: auto;
  }

  .main-button {
    padding: .2rem 1.8rem;
    box-shadow: 3px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 12px;
    line-height: 46px;
  }

  .main-button:hover {
    cursor: pointer;
    background-color: var(--primary-color-hover);
  }

  .buy-button {
    border-radius: 30px;
    padding: .67rem 1rem !important;
    width: 180px;
  }

  .buy-button:hover {
    cursor: pointer;
  }

  .blue-button-1 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    background-color: var(--dark-color-1);
    color: var(--light-text);
    border: none;
    border-radius: 11px;
    padding: .34rem 2.2rem;
    font-size: var(--md-3);
  }

  .blue-button-1:hover {
    cursor: pointer;
  }

  .blue-button-2 {
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    background-color: var(--dark-color-1);
    color: var(--primary-color);
    border: none;
    border-radius: 7px;
    padding: .44rem 0;
    font-size: var(--very-sm-2);
    width: 110px;
  }

  .blue-button-2:hover {
    cursor: pointer;
  }

  .blue-button-2:disabled {
    background-color: #888;
    color: var(--light-text);
  }

  .sub-input-button {
    font-family: 'Catamaran', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: var(--very-sm-1);
    line-height: 20px;
    text-decoration-line: underline;
    color: var(--gray-text-2);
    background-color: transparent;
    border: none;
  }

  .sub-input-button:hover {
    cursor: pointer;
  }

  .round-button {
    position: absolute;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    background-color: var(--dark-color-1);
    color: var(--primary-color);
    border: none;
    border-radius: 50%;
    width: 33px;
    height: 33px;
    padding: 0 0 10px 0;
    font-size: var(--md-3);
  }

  .round-button:hover {
    cursor: pointer;
  }

  .add-button::after {
    position: absolute;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    content: "+";
    font-size: var(--md-3);
    top: -6px;
    left: 9px;

  }

  .remove-button::after {
    position: absolute;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    content: "-";
    font-size: var(--md-3);
    top: -6px;
    left: 12px;
  }


  .auth-box {
    margin: auto;
    margin-top: 54px;
    width: 281px;
    height: 356px;
  }

  .auth-box {
    padding-top: 1.8rem;
    position: relative;
  }

  .auth-box h1 {
    font-size: var(--md-1);
  }

  .auth-box input[type="email"],
  .auth-box input[type="password"] {
    width: 248px;
    height: 41px;
    padding: 1rem;
    font-size: var(--very-sm-3);
    line-height: 26px;
  }

  .auth-box .auth-footer {
    font-size: var(--very-sm-2);
    line-height: 23px;

    bottom: 15px;
    width: 100%;
  }

  .auth-box span a{
    color: var(--primary-color)
  }

  /* END COMMON CLASSES */
  /*--------------------*/


  
  /* PAGE NOT FOUND */
  #page-not-found {
    padding-top: 153px;
    text-align: center;
    height: 600px;
  }

  #page-not-found img{
    width: 221px;
    height: 93px;
    margin: auto;
  }

  #page-not-found h1{
    margin-top: 0.5rem;
    font-family: 'Catamaran' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 60px;
    line-height: 68px;
  }

  #page-not-found h2{
    font-family: 'Catamaran' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 36px;
    color: var(--gray-text-2);
  }

  #page-not-found p {
    width: 295px;
    font-family: 'Catamaran' sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    color: var(--gray-text-2);
    margin: auto;
    margin-top: .5rem;
  }
  /* END PAGE NOT FOUND */
  /*--------------------*/



  /* NAVBAR */
  #navbar-buttons {
    display: none;
  }

  #mobile-navbar {
    display: none;
  }

  #mobile-menu-icon-wrapper {
    display: block;
    margin-top: 0.0rem;
    margin-right: 1.0rem;
  }

  #mobile-menu-icon {
    border: none;
    background-color: transparent;
    display: block;
    margin: auto;
    width: 30px;
    height: 30px;
  }
  
  #mobile-menu-icon img {
    height: 100%;
    /* width: 100%; */
  }

  #mobile-menu-icon:hover {
    cursor: pointer;
  }

  .logo {
    margin-top: .1em;
    margin-left: 1rem;
    width: 247px;
    height: 32px;
  }

  #mobile-navbar-menu {
    transition: all 300ms;
    overflow: hidden;
    word-wrap: nowrap;
  }

  #mobile-navbar-menu.closed {
    position: fixed;
    top: 62px;
    left: 100%;
    width: 100%;
    padding: 0 0 2rem 0;
  }

  #mobile-navbar-menu.open {
    position: fixed;
    top: 62px;
    left: 0;
    width: 100%;
    /* height: 320px; */
    padding: 0 0 2rem 0;
    background-color: var(--dark-color-1);
    background-color: rgba(31, 42, 63, 0.96);
    display: block;
  }

  #mobile-navbar-menu #navbar-buttons {
    display: block ;
  }

  #mobile-navbar-menu #navbar-buttons li {
    margin-top: 1rem;
    padding: 0;
    display: block ;
  }
  /* END NAVBAR */
  /*--------------------*/



  /*--------------------*/
  /* CTA */
  #CTA-inner {
    padding: 1.5rem 0 0 0;
  }
  
  #CTA-text {
    padding: 0 1rem;
  }

  #CTA-text h2 {
    margin-top: 1.5rem;
    line-height: 27px;
  }
  
  #cards {
    flex-direction: column;
    align-items: center;
    margin-top: 1.0rem; 
  }  
 
  .cta-card {
    padding: 1.5rem 0rem;
    height: 300px;
    width: 345px;
    box-shadow: 2px 0px 3px rgba(0, 0, 0, 0.25);
  }

  .cta-card:not(:last-child) {
    margin-bottom: 1.4rem;
  }

  .cta-card .img-wrapper {
    height: 110px;
  }
  .cta-card .img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .cta-card h2 {
    padding: 0 1rem;
  }

  #cta-button {
    margin: 30px 12px;
  }

  /* END CTA */
  /*--------------------*/



  /* TUTORIAL */
  #tutorial {
    padding-top: 1.5rem;
    padding-bottom: 2.3rem;
  }

  #title-wrapper h1 {
    margin-bottom: 2rem;
  }

  #title-wrapper h1::after {
    width: 110px;
  }

  .tutorial-step {
    flex-direction: column !important;
    margin-top: 2.0rem;
  }

  .tutorial-text {
    margin-top: 1rem;
    padding: 0 1rem;
    width: 100%;
    text-align: left;
    order: 3;
  }

  .tutorial-text .dotted-line {
    display: none;
  }

  .tutorial-text p {
    text-align: justify;
    
  }

  .tutorial-delimiter {
    display: none;
  }

  .tutorial-delimiter.mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    order: 1;
  }

  .tutorial-delimiter.mobile .delimiter-text{
    margin: 0 .5rem 0 .5rem;
  }

  .tutorial-delimiter.mobile h1{
    font-weight: 30px;
  }

  .tutorial-delimiter.mobile h2{
    line-height: 30px;
  }
  
  .tutorial-delimiter.mobile .dotted-line {
    margin: 1.0rem auto;
    width: 145px;
    height: 12px;
    border-bottom: 9px dotted var(--secondary-color);
    border-left: none;
  }

  .tutorial-image {
    height: 240px;
    width: 100%;
    margin-top: 1rem;
    padding-top: 1.0rem;
    order: 2;
  }

  .tutorial-image img {
    width: 360px;
    height: 100%;
    object-fit: contain;
  }

  #tutorial-button {
    display: block;
    margin: 1rem auto 0 auto;
  }

  /* END TUTORIAL */
  /*--------------------*/



  /* PRICING SECTION */
  #pricing {
    padding-top: 1.5rem;
    padding-bottom: 6.0rem;
  }

  #pricing h2 {
    margin-top: 0.5rem;
  }

  #price-cards {
    margin-top: 0rem;
    flex-direction: column;
  }
  
  #pricing .price-card {
    margin-top: 3.5rem;
    padding: 2rem 2rem;
    width: 315px;
    box-shadow: none
  }

  #pricing .price-card.recommended {
    padding: 2rem 2rem;
    margin-right: auto;
    margin-left: auto;
    border: 1px solid var(--primary-color);
    box-shadow: none;
    border-radius: 17px;
  }
  
  #pricing .price-card h2 {
    margin: 0;
  }

  #pricing .price-card h1 {
    margin-top: 1.8rem;
    margin-bottom: 1.8rem;
  }

  #pricing .price-card li {
    margin-top: .9rem;

  }

  #pricing .price-card a.buy-button {
    margin: auto;
    margin-top: 3.0rem;
  }
  
  #pricing .recommended .buy-button {
    box-shadow: none;
  }
  /* END PRICING SECTION */
  /*--------------------*/



  /* FAQ SECTION */
  #faq {
    padding: 1rem 0;
    padding-bottom: 1.5rem;
  }

  #faq .inner-container{
    padding: 0 .7rem;
  }

  #faq-title {
    margin-bottom: 1rem;
  }

  #questions {
    z-index: 3;
    margin: auto;
  }

  .question-dropdown {
    width: 100%;
    min-height: 60px;
    margin: auto;
    margin-bottom: 0.65rem;
    border-radius: 10px;
    padding: .5rem 0.5rem;
  }

  .question-dropdown .question-row .arrow{
    margin-right: .5rem;
  }

  .question-dropdown h2 {
    font-size: var(--very-sm-2)
  }

  .question-dropdown p {
    margin: .7rem .5rem .7rem 1.8rem;
    font-size: var(--sm-1);
  }

  /* END FAQ SECTION */
  /*--------------------*/



  /* CONTACT US SECTION */
  #contact-us {
    padding-top: 1rem;
    padding-bottom: 1rem;
    min-height: 95vh;
  }

  #contact-us h2 {
    margin-top: 0.5rem;
    margin-bottom: 1.0rem;
  }

  #contact-form .inner-container{
    border-radius: 15px;
    padding: 0.6rem;
    width: fit-content;
    margin: auto;
  }

  #contact-form .inner-container div:nth-child(1){
    margin-bottom: .6rem;
  }
  
  #contact-form input{
    padding: .6rem 1rem;
    font-size: 18px;
    min-width: 319px;
    width: 100%;
  }
  
  #contact-form input:nth-child(1){
    margin-right: 0rem;
  }
  #contact-form input:not(:last-child){
    margin-bottom: .6rem;
  }

  #contact-form textarea{
    padding: .6rem 1rem;
    font-size: 18px;
    width: 100%;
    min-width: 319px;
    min-height: 220px;
  }

  #contact-form button {
    margin-top: 0.5rem;
  }
  /* END CONTACT US SECTION */
  /*--------------------*/



  /* FOOTER */

  footer .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1rem;
    padding-bottom: 2.5rem;
  }

  footer .footer-logo-block .logo-container img {
    margin: auto;
  }

  footer .footer-logo-block p {
    font-size: var(--sm-2);
    color: var(--light-text);
    width: 100%;
    margin-top: 2rem;
    margin-right: 6em;
    text-align: justify;
  }

  footer .footer-column {
    margin-top: 2.4rem;
    text-align: center;
    width: 100%;
  }

  footer .footer-column h1 {
    margin-bottom: .1rem;
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: var(--lg-1b);
    color: var(--primary-color);
  }

  footer .footer-column li {
    list-style-type: none;
    font-size: var(--sm-2);
    color: var(--light-text);
  }

  /* END FOOTER */
  /*--------------------*/


  
  /* LOGIN PAGE */
  #login-page {
    height: 540px;
    background: url("assets/cta-bg.png") no-repeat;
    background-size: 100% 80%;
    padding-top: 63px;
  }

  #login-box h1 {
    margin-bottom: 1.7rem;
  }

  #login-page #login-error {
    color: red;
    font-size: var(--very-sm-1b);
    font-family: 'Catamaran', sans-serif;
    margin-top: -20px;
    margin-bottom: 10px;
  }

  #login-box input[type="email"] {
    margin-bottom: 1rem;
  }

  #login-box .form-row-2 {
    margin: auto;
    margin-top: .5rem;
    width: 248px;
  }

  #login-box .form-row-2 div:nth-child(1) {
    display: flex;
    /* align-items: center; */
  }

  #login-box .form-row-2 a {
    text-decoration: underline;
    color: var(--primary-color);
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: var(--very-sm-1);
  }

  #login-button {
    margin-top: 2.3rem;
  }
  /* END LOGIN PAGE */
  /*--------------------*/



  /* PASSWORD RESET PAGE */
  #password-reset-page {
    height: 540px;
    background: url("assets/cta-bg.png") no-repeat;
    background-size: 100% 80%;
    padding-top: 63px;
  }

  #password-reset-box h1 {
    margin-bottom: 1.35rem;
  }

  #password-reset-box form p {
    width: 260px;
    font-size: var(--very-sm-2);
    margin: auto;
    margin-bottom: 1.8rem;
  }

  #send-email-button {
    margin-top: 1.8rem;
  }
  /* END PASSWORD RESET PAGE */
  /*--------------------*/



  /* PASSWORD RESET EMAIL SENT PAGE */
  #password-reset-email-sent-page {
    height: 540px;
    background: url("assets/cta-bg.png") no-repeat;
    background-size: 100% 80%;
    padding-top: 63px;
  }

  #password-reset-email-sent-box h1 {
    margin-top: 2.7rem;
    margin-bottom: 1.85rem;
  }

  #password-reset-email-sent-box p {
    width: 260px;
    font-size: var(--very-sm-3);
    margin: auto;
    margin-bottom: 3.3rem;
  }

  #password-reset-email-sent-box .blue-button-2 {
    /* margin: auto;
    margin-top: 4.0rem; */
    padding: .44rem 1.4rem;
    /* display: block; */
  }
  /* END PASSWORD RESET EMAIL SENT PAGE */
  /*--------------------*/



  /* CHOOSE NEW PASSWORD PAGE */
  #choose-new-password-page {
    height: 540px;
    background: url("assets/cta-bg.png") no-repeat;
    background-size: 100% 80%;
    padding-top: 63px;
  }

  #choose-new-password-box input {
    margin-bottom: 1rem;
  }

  #choose-new-password-box h1 {
    margin-bottom: 2.3rem;
  }

  #password-reset-button {
    margin-top: 1.5rem;
  }

  #choose-new-password-page .input-error{
    font-size: var(--very-sm-1b);
    position: absolute;
    top: 200px;
    left: 1.1rem;
  }

  #choose-new-password-page .form-error{
    font-size: var(--very-sm-1b);
    position: absolute;
    top: 75px;
  }
  /* END CHOOSE NEW PASSWORD PAGE */
  /*--------------------*/


  /* PAYMENT SUCCESS PAGE */
  #payment-success-page {
    height: 540px;
  }

  #payment-success-page .inner-container {
    margin-top: 120px;
  }

  #payment-success-page h1 {
    font-size: var(--sm-2);
    line-height: 59px;
    margin-top: .5rem;
  }
  /* END PAYMENT SUCCESS PAGE */
  /*--------------------*/

  
  /* SIGN UP PAGE */
  #signup-page {
    background-size: 100% 80%;
    padding-top: 63px;
    padding-bottom: 4rem;
  }

  #signup-form h1 {
    margin-top: 1.8rem;
    text-align: center;
  }
  
  #signup-form p {
    text-align: center;
    margin-top: 1.4rem;
    padding: 0rem 1rem;
    color: var(--dark-color-1);
    font-size: var(--sm-3);
    font-weight: 400;
  }

  #signup-form .form-inputs {
    margin-top: 0rem;
    padding: 2.6rem 1rem;
    padding-bottom: 0.6rem;
  }

  #signup-form .form-inputs::before {
    content: "";
    background-color: var(--light-bg-2);
    /* background-color: #7b7b7b; */
    z-index: -1;
    position: absolute;
    top: 290px;
    left: 0;
    width: 99vw;
    height: 550px;
    overflow: hidden;
  }

  #signup-page label {
    display: block;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: var(--very-sm-3);
    color: var(--gray-text-2);
  }

  #signup-page .form-row {
    flex-direction: column;
    margin-bottom: 0rem;
  }

  #signup-page .form-row:last-child{
    margin-bottom: 0rem;
  }

  #signup-page .test-center-group > div:not(:first-child){
    margin-top: 2rem;
  }

  #signup-page .test-center-item {
    position: relative;
  }

  #signup-page .test-center-item .add-button {
    position: absolute;
    right: 0px;
    top: -40px;
  }
  
  #signup-page .test-center-item .remove-button {
    position: absolute;
    right: 40px;
    top: -40px;
  }

  #signup-page .select-hidden {
    display: none;
  }

  #signup-form input,
  #signup-form select {
    max-width: 336px;
    width: 100%;
    height: 46px;
    padding: 1rem;
  }

  #signup-form .form-item {
    margin-bottom: 2rem;
    position: relative;
  }

  #signup-form .input-error{
    bottom: -24px;
    font-size: var(--very-sm-1b);
  }

  #signup-form select {
    padding: 0.5rem .7rem;
  }

  #signup-page .form-buttons .blue-button-2:first-child {
    margin-right: 1rem;
  }

  #signup-page .form-buttons{
    display: flex;
    justify-content: center;
  }

  #signup-page .blue-button-2 {
    margin-left: 0rem;
    margin-top: 0rem;
    display: block;
  }

  /* END SIGN UP PAGE */
  /*--------------------*/


    
  /* PROFILE PAGE */
  #profile-page {
    padding-top: 62px;
    /* padding-bottom: 3rem; */
  }

  #profile-page .inner-container {
    display: block;
  }

  #profile-page h1 {
    color: var(--dark-text-2);
    font-family: 'Catamaran', sans-serif;
    font-weight: 500;
    line-height: 49px;
    font-size: var(--md-2b);
    margin-top: 0.2rem;
    border-bottom: 2px solid #f0f0f0;
    
    display: flex;
    align-items: center;

  }

  #profile-page .form-inputs {
    margin-top: 0.0rem;
    padding: 2.0rem 0;
  }

  #profile-page .form-inputs .blue-button-2{
    margin: auto;
    display: block;
  }

  #profile-page .form-inputs .flex {
    margin: 0;
    display: flex;
    justify-content: center;
  }

  #profile-page .form-inputs .flex .blue-button-2 {
    margin-left: .5rem;
    margin-right: .5rem;
  }

  #profile-page label {
    display: block;
    font-family: 'Catamaran', sans-serif;
    font-weight: 600;
    font-size: var(--very-sm-3);
    color: var(--gray-text-2);
  }

  #profile-page .form-row {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 0;
  }

  #profile-page input,
  #profile-page select {
    width: 100%;
    height: 46px;
    border: none;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    font-size: var(--very-sm-3);
    font-family: 'Catamaran', sans-serif;
    margin-right: 3rem;
  }

  #profile-page input:disabled,
  #profile-page select:disabled {
    background-color: #eee;
  }

  #profile-page .form-item {
    position: relative;
    margin-bottom: 2rem;
  }

  #profile-page .test-center-group > div:not(:last-child) {
    margin-bottom: 1.5rem;
  }

  #profile-page .test-center-item {
    position: relative;
  }

  #profile-page .test-center-item .add-button {
    position: absolute;
    right: 0px;
    top: -15px;
  }
  
  #profile-page .test-center-item .remove-button {
    position: absolute;
    right: 40px;
    top: -15px;
  }

  #profile-page .input-error{
    font-size: var(--very-sm-1b);
    bottom: -24px;
  }

  #profile-page .test-center-group .input-error{
    bottom: -24px;
  }

  #profile-page select {
    padding: 0.5rem .7rem;
  }

  #profile-page .select-hidden {
    display: none;
  }

  #profile-page #current-menu {
    margin-left: 0rem;
    padding: 1rem;
    width: 100%;
    min-height: 420px;
  }

  #profile-page .form-buttons {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }

  #profile-page .form-buttons button {
    margin-right: 1rem;
  }

  #success-back-button {
    margin-top: 2rem;
  }

  #profile-page #account-plan {
    padding-bottom: 2rem;
  }
  
  #profile-page #account-plan h2{
    color: var(--gray-text-2);
    font-size: var(--sm-2);
    margin-top: 2rem;
  }

  #profile-page #account-plan h3{
    color: var(--gray-text-2);
    font-size: var(--md-1);
    font-weight: 500;
    margin-top: .6rem;
  }

  #profile-page #account-plan .blue-button-2{
    margin: auto;
    display: block;
    margin-top: 2rem;
  }

  #profile-page #support-menu {
    margin-top: 1.8rem;
    padding-bottom: 2rem;
  }

  #profile-page #support-menu p{
    color: var(--gray-text-2);
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: var(--sm-2);
    /* padding-right: 2rem; */
  }

  #profile-page #support-menu textarea{
    background: var(--light-bg-3);
    border: none;
    margin-top: 1rem;
    padding: .5rem 1rem;
    width: 100%;
    height: 250px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    resize: none;
    font-size: var(--sm-2);
    color: var(--dark-text-2);
    font-family: 'Catamaran', sans-serif;
  }

  #profile-page #support-menu textarea::placeholder{
    color: var(--gray-text-2);
  }

  #profile-page #support-menu .blue-button-2{
    margin: auto;
    display: block;
    margin-top: 1rem;
  }

  /* SIDEBAR */
  #sidebar {
    /* display: none; */
    background-color: var(--dark-color-1);
    height: 79px;
    flex-basis: 2px;
    flex-shrink: 0;
  }

  #sidebar .inner-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.0rem;
  }

  #sidebar .sidebar-button .img-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: center;
    margin: auto;
    margin-bottom: .3rem;
    width: 30px;
  }

  #sidebar .sidebar-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: transparent;
    color: var(--light-text);
    font-family: 'Catamaran', sans-serif;
    font-weight: 400;
    font-size: var(--very-sm-1b);
    /* margin: auto; */
    width: 100%;
    margin: .9rem 0;
    cursor: pointer;
  }

  #sidebar .sidebar-button.highlighted {
    color: var(--primary-color)
  }

  #sidebar .sidebar-button.highlighted img{
  filter: invert(31%) sepia(59%) saturate(738%) hue-rotate(0deg) brightness(105%) contrast(101%);
  }

  /* END PROFILE PAGE */
  /*--------------------*/
}